@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
} */

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid-stack-border {
  @apply border rounded-2xl p-2 bg-white;
}

/* .grid-stack-item {
  @apply !transition-all !ease-linear;
} */


/* Inject into gridstackCSS */

.grid-stack-placeholder>.placeholder-content {
  /* background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  position: absolute;
  width: auto;
  z-index: 0 !important; */
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.15) inset;
  @apply rounded-2xl;
}

.grid-stack-item-content {
  @apply !rounded-2xl;
}

.ui-resizable-handle {
  @apply bg-[#454545] opacity-25 hover:opacity-100 border border-[#454545] transition-all duration-100 rounded-full;
}

.ui-resizable-n {
  @apply !top-[-1px] !h-[6px] !max-w-[69px] !mx-auto;
}

.ui-resizable-s {
  @apply !bottom-[-1px] !h-[6px] !max-w-[69px] !mx-auto;
}

.ui-resizable-w {
  @apply !left-[-1px] !w-[6px] !max-h-[69px] !my-auto;
}

.ui-resizable-e {
  @apply !right-[-1px] !w-[6px] !max-h-[69px] !my-auto;
}

.delete-btn-hover:hover>svg {
  @apply fill-[#454545];
}

.edit-tray-btn {
  @apply w-[32px] h-[32px] text-sm rounded-lg border flex items-center justify-center hover:bg-neutral-100 transition-colors duration-150 ease-in-out disabled:cursor-not-allowed disabled:bg-neutral-300 disabled:opacity-50 disabled:hover:bg-neutral-300;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #454545 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.shadow-inset-widget {
  --tw-shadow: inset 0 -4px 4px 3px rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-inset-home-btn {
  --tw-shadow: inset 0 -1px 4px 1px rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(
--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}